@{
    ViewData["Title"] = "Tack!";
}

<div class="container m-top pt-5">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">Tack för att du hör av dig. Vi återkommer till dig så snart som möjligt.</p>
</div>