
@*    <li class="nav-item dropdown mx-4">
*@        <a class="btn btn-dark dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
        <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item user-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account details</a></li>
            <li><a class="dropdown-item user-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin section</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item user-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
        </ul>
@*    </li>
*@
