@{
    ViewData["Title"] = "Success!";
}

<div class="container m-top bg-light pb-3 mb-0">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">Thank you for reaching out! We will get back to you as soon as possible!</p>
</div>