@{
    ViewData["Title"] = "Integritetspolicy - GDPR";
}

<div class="container m-top bg-light p-3 mb-0">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
          <h1>@ViewData["Title"]</h1>
          <p class="lead">Behandling av personuppgifter, Havana Service AB (senast uppdaterad: 25 augusti 2022)</p>
      </div>
      <hr />
      <div class="container">
          <p class="fw-italic">    
          Havana Service AB värnar den personlig integriteten och arbetar aktivt för skydda den enskildes personuppgifter. På denna sida berättar vi om vilka personuppgifter vi samlar in. Vi berättar också om dina rättigheter som användare. Du är alltid välkommen att kontakta oss om du har frågor om hur vi behandlar dina personuppgifter. Kontaktuppgifter står i footern, längst ner, på denna sida.
          </p>
          <h3>
              Vad är en personuppgift och vad är en behandling av personuppgifter?
          </h3>
          <p>
              <span class="fw-italic">Personuppgifter</span> är alla typer av uppgifter om en levande fysisk person som kan kopplas till den enskilda personen. Det gäller både direkt och indirekt. Exempel på personuppgifter är t.ex. fullständigt namn eller personnummer men även e-postadresser och fotografier. <span class="fw-italic">Behandling av personuppgifter</span> är de processer som hanteras i IT-systemen: det innebär t.ex. insamling, registrering, lagring och överföring. I vissa fall kan även manuella register omfattas. Havana Service AB:s personuppgiftsansvarig är den som ansvarar för processerna som rör personuppgifterna.
          </p>
          <h3>
              Vilka personuppgifter samlar vi in om dig och varför?
          </h3>
          <p>
              Vi hanterar i huvudsak ditt namn och de kontaktuppgifter du lämnar till oss via formulär eller email. Vi berättar hur vi behandlar dina personuppgifter för att kunna fullgöra våra skyldigheter enligt t.ex. avtal med dig samt för att uppfylla regler i lagen. Personuppgifterna behöver vi kunna lagra digitalt i databaser och liknande för att kunna ge dig som en användare bättre service när du kontaktar oss via t.ex. hemsidan eller via epost.
          </p>
          <h3>
              Hur länge sparar vi dina personuppgifter?
          </h3>
          <p>
              Vi sparar aldrig dina personuppgifter längre än vad som är nödvändigt för respektive ändamål, t.ex. efter att vi avslutat en kontakt.
          </p>
          <h3>
              Vad är du för rättigheter om du är registrerad i våra databaser?
          </h3>
          <p>
              Du har alltid rätt att få ett utdrag som visar alla personuppgifter vi har registrerade om dig. Du har också möjlighet att begära rättelse av felaktiga uppgifter och i vissa fall radering. Kontakta oss vid frågor om hur vi behandlar personuppgifter! Vi kan komma att göra ändringar i vår integritetspolicy. Den senaste versionen av integritetspolicyn finns alltid här på webbplatsen, där datumet ovan visar när senast ändringen utfördes.
          </p>
      </div>
    </div>
</div>