@{
    ViewData["Title"] = "Meddelande skickat!";
}


<div class="container m-top bg-light mb-0 p-3">
    <h2>@ViewData["Title"]</h2>
    <p class="lead">Tack för att du hör av dig till Havana Café! Vi återkopplar till dig så snart som möjligt.</p>
</div>